@use '_custom' as *;

#associationsContainer{
    #associationsTitle{
        background-color: $secondary !important; 
        color: white;
    }

    #associationPrices{
        button{
            @include button-style;
        }

        .card-header{
            @include media-breakpoint-up(md){
                min-height: 8.5rem;
            }
            
            @include media-breakpoint-up(lg){
                min-height: 8.5rem;
            }
        }
    }

    #benefitsSection{
        background-color: $secondary;
        color: white;

        i{
            color: $primary;
        }
        
        #associationHeroButton{
            @include button-style;
            color: black;
            
            &:hover{
                border-color: white;
            }
        }

        img{
            width: 80%;
            height: 80%;
            @include media-breakpoint-up(lg){
                width: 50%;
                height: 50%;
            }
        }
    }

    #associationScheduleContainer{
        #associationScheduleTitle, p{
            color: $secondary;

            a{
                color: $tertiary;
                transition: all 0.3s ease-out;
                &:hover{
                    color: $primary;
                }
            }
        }

        button{
            @include button-style;
        }
        
    }

    .card{
        @include card-style;
    }

    #faq{
        #FAQTitle{
            background-color: $secondary;
        }

        #associationAccordion{
            .accordion-item{
                border-radius: 15px;
                margin: 5px;
                
                .accordion-button{
                    background-color: $secondary !important;
                    color: white;
                    padding: 1.25rem;
                    margin: 0;
                    border: 2px solid transparent;
                    display: flex;
                    justify-content: space-between;
                    transition: all 0.3s ease-in;

                    &:hover{
                        background-color: $tertiary !important;
                        color: white !important;
                        margin: 0;
                        padding: 1.25rem;
                    }

                    &:not(.collapsed){
                        background-color: $tertiary;
                        color: white !important;
                        &:hover{
                            background-color: $tertiary !important;
                            color: white !important;
                        }

                        &::after{
                            display: none;
                        }
                    }

                    &:focus{
                        border: 2px solid $tertiary;
                        box-shadow: 0 0 0 .25rem rgba($tertiary, .25);
                    }

                    &::after{
                        color: white;
                        filter: none;
                        display: none;
                    }
                }
            }
        }
    }
}

