@use '_custom' as *;

#bookingFormSection{
    button{
        @include button-style;
    }

    a{
        color: $tertiary;
        margin-left: 2rem;
        transition: all 0.3s ease-out;

        &:hover{
            color: $primary;
        }

        &:focus-visible{
            transition: none;
        }
    }

    h2{
        text-align: center;
    }

    form{
        input, select{
            border: 1.5px solid rgba($secondary, 0.5);
            transition: all 0.3s ease-out;

            &:hover{
                border-color: $secondary;
            }

            &:focus{
                transition: none;
                outline: 2px solid $tertiary;
                box-shadow: 0 0 0 0.25rem rgba($tertiary, 0.25);
            }
        }

        .form-check-input:checked{
            background-color: $secondary;
        }
        
        @include media-breakpoint-up(lg){
            margin-left: 7rem;
        }
    }

    legend{
        font-weight: 600;
        font-size: $h3-font-size;
    }

    .nameInput{
        width: 7.75rem;
    }

    .phoneInput{
        width: 9.75rem;
    }

    .eventNameInput{
        width: 15rem;
    }

    .dropdownInput{
        width: 20rem;
    }

    .dateInput{
        width: 9rem;
    }

    .addressInput{
        width: 14rem;
    }
}